body {
    background-image: url("../obrazky/pozadi.png");
    background-repeat: repeat;
    margin: 0;
    text-align: center;
    font-family: "Times New Roman", serif;
}

/* CSS Základy */
.container span p { /* Třetí úroveň */
    font-size: 24px;
    text-decoration: underline;
    color: mediumaquamarine;
}

.container span div span h3 { /* Pátá úroveň */
    font-size: 48px;
    color: dimgrey;
    text-decoration: line-through;
}

#top { /* id tag */
    height: 30px;
    width: 100%;
    background: darkolivegreen;
}

a {
    color: black;
    text-decoration: none;
}

hr {
    border: 1px solid darkolivegreen;
}

nav ul {
    display: flex;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: block;
    color: black;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: darkolivegreen;
}

nav ul li a:active {
    text-decoration: none;
    color: black;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

table tr td {
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

.title {text-align: center; font-size: 50px;}
.subtitle {color: darkolivegreen;}
.red {color: red;}

.thead {background-color: darkolivegreen; color: white;}
.tfoot {background-color: grey; color: white;}
.tdgrey {color: grey;}
.tdfull {background-color: red; color: white;}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

footer {
    background-color: dimgrey;
    color: white;
    padding: 50px 0;
}
